*{
    box-sizing:border-box;
    position:relative;
    letter-spacing: -0.5px;
}
.blind{
    font-size:0;
}
.sendbtn{
    width:30px;
    height:30px;
    display:block;
    background:url(../img/sendbtn.png);
    cursor:pointer;
}
body{
    height:100vh;
}
.wrap{
    width:1180px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
}

.room_list ul{
    display:flex;
    align-items: center;
    justify-content: center;
}
.c_section .logo{
    text-align:center;
}
.room_list{
    margin-top:40px;
}
.c_section + .c_section{
    padding:150px 0 75px 0;
}
.room_list ul li a{
    text-align:center;
    display:block;
    width:140px;
    height:40px;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    font-size:14px;
    line-height:38px;
    border:1px solid #D9D9D9;
    color:#000;
    font-weight:700;
}
.room_list ul li a:hover{

    background:#D9D9D9;
}
.room_list ul li + li{
    margin-left:30px;
}
.type01 .videoWrap{
    background:#000;
    text-align:center;
    height:600px;
}
.type01 .videoWrap video{
    height:100%;
}
.type01 .chatArea{
    background:#000;
    padding:15px;
    height:260px;
    overflow-y:auto;
    padding:10px 50px 10px 20px; 
    border-top:1px solid #1e1e1e;
}
.type01 .chatArea::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #000;
}

.type01 .chatArea::-webkit-scrollbar {
    width: 3px;
    background-color: #000;
}

.type01 .chatArea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(181, 158, 136, 0.3);
    -webkit-box-shadow: inset 0 0 10px rgba(181, 158, 136, 0.3);
    background-color: #c0c0c0;
}


.type01 .chatArea > div + div{
    margin-top:14px;
}
.type01 .others{
    
}
.type01 .others .user{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.type01 .others .message-text{
    margin-top:12px;
    margin-left:12px;
    display:inline-block;
    padding:10px;
    background: #7450F8;
    word-break: break-all;
    border-radius: 0px 14px 14px 14px;
    -webkit-border-radius: 0px 14px 14px 14px;
    -moz-border-radius: 0px 14px 14px 14px;
    -ms-border-radius: 0px 14px 14px 14px;
    -o-border-radius: 0px 14px 14px 14px;
}
.type01 .others .message-text:after{
    content:'';
    display:block;
    width:11px;
    height:17px;
    position:absolute;
    background:url(../img/chatbg.png);
    left: -11px;
    top: 0;

}
.type02{
    display:flex;
    width:100%;
    background:#000;
}
.type02 .videoWrap{
    background:#000;
    text-align:center;
    height:600px;
    width:800px;
 
}
.type02 .videoWrap video{
    height:100%;
}
.type02 .chatArea{
    background:#000;
    padding:15px;
    border-left:1px solid #3a3a3a;
    flex:1;
    overflow-y:auto;
}

.type03 .videoWrap{
    background:#000;
    text-align:center;
    height:800px;
}
.type03 .videoWrap video{
    height:100%;
}
.type03 .chatArea{
    width:100%;
    background:rgba(0,0,0,0.3);
    padding:15px;
    height:260px;
    position:Absolute;
    bottom:40px;
    overflow-y:auto;
}
.type01 .writer{
    text-align:right;
}
.type01 .writer .user{
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color:#fff; 
    margin-left:20px;
    flex:none;
}
.type01 .writer .message-text{
    display:inline-block;
    margin-top:12px;
    margin-right:12px;
    color:#000;
    background:#fff;
    border-radius: 14px 0px 14px 14px;
    padding:10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    -webkit-border-radius: 14px 0px 14px 14px;
    -moz-border-radius: 14px 0px 14px 14px;
    -ms-border-radius: 14px 0px 14px 14px;
    -o-border-radius: 14px 0px 14px 14px;
    word-break: break-all;
}
.type01 .writer .message-text:after{
    content:'';
    display:block;
    width:11px;
    height:17px;
    background:url(../img/chatbg2.png);
    position:absolute;
    right:-11px;
    top:0;
}
.enterMessage {
   
    width: 100%;
    height: 38px;
 
    padding: 0px;
    bottom: 0px;
    color: #000;
    outline:none;
    background:#fff;
    padding:0 10px;
    flex:1;
}

.writer > .message-text {
    color: white;
    text-align:right;
}

.writer > .user {
    color: white;
    text-align:right;
}

.others > .message-text {
    color: white;
    text-align:left;
}

.others > .user {
    color: white;
    text-align:left;
}

.changeName {
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
    width: 250px;
    height: 100px;
    border: solid 1px black;
}

.changeName > input {
    border: solid 1px black;
}

.changeName > button {
    border: solid 1px black;
}
.sendWrap{
    display:flex;
    align-items: center;
    background:#000;
    padding:2px;
}

.layer_popWrap {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
}

.layer_popWrap.open {
    display: block;

}

.dimed {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    lefT: 0;
}

.layer_pop {
    position: absolute;
    z-index: 200;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 50px 24px 40px 24px;
    background: #fff;
   
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
 
    max-height:500px;
    overflow:hidden;
    overflow-y:auto;
    
}
.layer_pop_tit{
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    color:#000;
    text-align:center;
}
.layer_pop .btnWrap{
    margin-top:30px;
    text-align:center;
}
.layer_pop .btnWrap a{
    padding:16px 20px;
    text-align:center;
    display:inline-block;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    background: #000000;
}
.layer_pop .copy_link{
    margin-top:30px;
}
.nickname_label{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #212221;
}
.copy_link .ipWrap{
    margin-top:8px
}
.copy_link .ipWrap input{
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    height:46px;
    line-height:44px;
    outline:none;
    padding:0 12px;
} 
.close_popup .blind{
    display:block;
    width:16px;
    height:16px;
    background:url(../img/close.png);
    position:Absolute;
    right:0;
    top:-30px;
    cursor:pointer;
}