<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
    <link rel="stylesheet" href="/css/join.css">
    <script src="https://asset.talkplus.io/talkplus-js-0.3.6.js"></script>
    <script src="/js/jquery-1.12.4-min.js"></script>
    <script type="text/javascript" src="/js/chat.js"></script>
</head>
<body>
    <div class="join">
        <h4>Join</h4>
            <input class="userId" type="text" name="userId" placeholder="id">
            <br>
            <input class="userName" type="text" name="userName" placeholder="name">
            <br>
            <input class="password" type="password" name="password" placeholder="password">
            <br>
            <button type="button" onclick="createUser()">회원가입</button>
    </div>
</body>
</html>