<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://asset.talkplus.io/talkplus-js-0.3.6.js"></script>
    <script type="text/javascript" src="/js/chat.js"></script>
</head>
<body>
    <div class="login">
        <h4>Login</h4>
        <form class="loginForm" action="/talkplus/room01" method="post">
            <input class="userId" type="text" name="userId" placeholder="id">
            <br>
            <input class="password" type="password" name="password" placeholder="password">
            <br>
            <button type="submit" onclick="login()">로그인</button>
        </form>
    </div>
</body>
</html>