<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="https://asset.talkplus.io/talkplus-js-0.3.6.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="type02">
            <div class="videoWrap">
                <video src="/video/vd.mp4"  autoplay="autoplay" muted="muted"></video>
            </div>
            <div class="chatArea">
                채팅붙히세유
            </div>
        </div>
    </div>
</body>
</html>